@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
body{
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1{
  text-align: center;
  font-size: 300%;
}

.inputs{
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  width: 30%;
  height: 30px;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  color: rgb(60, 60, 60);
  text-align: center;
  align-self: center;
}
input:focus {
  border: 2px solid rgb(0, 128, 255);
  transition: 0.4s;
  border-radius: 8px;
}
button {
  border: 0px;
  border-radius: 500px;
  padding: 10px;
  width: 15%;
  font-size: 16px;
  font-family: 'JetBrains Mono', monospace;
  background-color: black;
  color:white;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
button span {
  position: relative;
  z-index: 1;
}
button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: rgba(255, 255, 255, 0.643);
  transition: all 0.4s ease;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
button:hover::before {
  width: 0;
  height: 0;
}
#forms h1 {
  font-size: 40px;
}